---
import { getSite } from '../../features/core/seo';

const site = getSite() as ReturnType<typeof getSite> & {
  author: { name: string; avatar: string; description: string };
};
---

<section class="sidebar-card author-card" aria-labelledby="author-title">
  <img src={site.author.avatar} alt={`${site.author.name} 头像`} width="72" height="72" />
  <div>
    <h2 id="author-title">{site.author.name}</h2>
    <p>{site.author.description}</p>
  </div>
</section>
